/*Utils*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.eot");
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.eot");
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.eot");
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.eot");
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.eot");
  src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg");
}
:root {
  --primary-brand: #4D5AE5;
  --pressed-state: rgba(64, 75, 191, 1);
  --dark: #2E2F42;
  --success:#31D0AA;
  --text: #434455;
  --subtle-text: #8E8F99;
  --accent: #E7E9FC;
  --light: #F4F4FD;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --white: #ffffff;
  --footer-icon:rgba(255, 255, 255, 0.1);
  --input-border: 1px solid rgba(33, 33, 33, 0.2);
  --label-checkbox: #757575;
}

/*Base*/
body {
  background: var(--white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}
@media screen and (min-width: 480px) {
  body {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  text-decoration: none;
}

.img-portfolio {
  display: block;
}
@media screen and (max-width: 767px) {
  .img-portfolio {
    min-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .img-portfolio {
    min-width: 100%;
  }
}

.img-item {
  display: block;
  position: relative;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.border {
  border: 3px solid var(--light);
  background-color: var(--white);
}

.paragraph {
  margin: 0;
}

/*Components*/
@media screen and (max-width: 427px) {
  .about__item {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .about__item {
    -ms-flex-preferred-size: 428px;
        flex-basis: 428px;
    margin: 0 0 72px;
  }
}
@media screen and (min-width: 768px) {
  .about__item {
    -ms-flex-preferred-size: calc((100% - 48px) / 2);
        flex-basis: calc((100% - 48px) / 2);
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    margin-bottom: 0;
  }
}
.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .about__info {
    display: block;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .about__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .about__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 24px;
    margin: 0 auto;
    width: 1158px;
  }
}
.about__info .about__item + .about__item {
  margin-left: 30px;
}
@media screen and (max-width: 767px) {
  .about__info .about__item + .about__item {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .about__info .about__item + .about__item {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .about__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about__icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about__icon {
    width: 264px;
    height: 120px;
    background-color: var(--light);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 8px;
  }
}
.about__title {
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.02em;
  /* outline: 2px solid tomato; */
  color: var(--dark);
  margin: 0 0 8px;
}
@media screen and (max-width: 767px) {
  .about__title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.about__subsection {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  margin: 0;
}
@media screen and (max-width: 1199px) {
  .about__subsection {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
}
.about__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}
.auth-nav__item {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .auth-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
}
.auth-nav__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 1200px) {
  .auth-nav__list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.auth-nav__link {
  color: var(--text);
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 16px 32px;
  /* outline: 2px solid tomato; */
  -webkit-box-shadow: 0px 4px 4px var(--btn-shadow);
          box-shadow: 0px 4px 4px var(--btn-shadow);
  color: var(--white);
  background-color: var(--primary-brand);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .menu__btn {
    width: 40px;
    height: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
    color: rgb(47, 47, 55);
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  /* outline: 2px solid tomato; */
  -webkit-box-shadow: 0px 4px 4px var(--btn-shadow);
          box-shadow: 0px 4px 4px var(--btn-shadow);
  color: var(--white);
  background-color: var(--primary-brand);
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .hero__btn {
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
  }
}

.mobile-menu__btn-close {
  border-radius: 50%;
  margin: 40px 40px;
  padding: 8px 8px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--accent);
  fill: var(--dark);
  right: 0;
  top: 0;
  text-align: center;
  border: none;
  width: 24px;
  height: 24px;
}

.mobile-menu__btn-close:hover,
.mobile-menu__btn-close:focus {
  fill: var(--primary-brand);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit {
  background: var(--primary-brand);
  color: var(--white);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
}

.modal__btn {
  border-radius: 50%;
  margin: 24px 24px 0;
  padding: 8px 8px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  width: 24px;
  height: 24px;
  background-color: var(--accent);
  fill: var(--dark);
  border: 1px solid var(--light);
}

.client__title {
  margin: 0 0 72px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: inherit;
  text-align: center;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .client__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .client__title {
    margin: 0 0 28px;
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  .client__title {
    margin: 0 0 72px;
    font-size: 36px;
    line-height: 1.11;
  }
}
.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .client__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .client__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .client__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (max-width: 767px) {
  .client__item {
    -ms-flex-preferred-size: 22.222%;
        flex-basis: 22.222%;
    min-width: 190px;
    height: 88px;
    margin-top: 72px;
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
    width: 168px;
    height: 88px;
    margin-top: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    margin: 0;
    min-width: 100%;
    height: 88px;
  }
}
.client .client__item:last-child {
  margin-bottom: 0;
}
.client__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  fill: var(--subtle-text);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .client__link {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 100%;
  }
}
.client__item :hover, .client__item :focus {
  fill: var(--pressed-state);
  border: 1px solid var(--pressed-state);
}

/* header */
.header {
  background-color: var(--white-color);
  /* border: 1px solid var(--background-primary-color); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .header {
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 76px;
  }
}
.header__logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  /* outline: 2px solid tomato; */
  color: var(--dark);
  margin-right: 93px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .header__logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 18px;
    line-height: 1.17;
    margin-right: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 18px;
    line-height: 1.33;
    margin-right: 76px;
  }
}
.header .logo {
  color: var(--primary-brand);
}

.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  /* outline: 2px solid tomato; */
  color: var(--white);
}
@media screen and (max-width: 767px) {
  .hero__title {
    min-width: 318px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    margin: 0 0 72px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    min-width: 494px;
    margin: 0 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    min-width: 494px;
    margin: 0 0 48px;
  }
}

.main {
  background-color: var(--white-color);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media screen and (max-width: 767px) {
  .menu {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__link {
  /* outline: 2px solid tomato; */
  color: var(--dark);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__site-nav .menu__item + .menu__item {
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  .menu__item {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu__item {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.menu__link:hover, .menu__link:focus {
  color: var(--primary-brand);
}
.menu .current.menu__link {
  position: relative;
  padding: 32px 0;
}
@media screen and (min-width: 768px) {
  .menu .current.menu__link {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu .current.menu__link {
    padding: 29px 0;
  }
}
.menu .current.menu__link::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-brand);
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: var(--white);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.mobile-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding: 48px 40px;
  margin-left: auto;
  margin-right: auto;
}
.mobile-menu__item {
  margin-top: 40px;
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__top {
  margin-bottom: 54px;
}

.mobile-menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: var(--pressed-state);
}

.contact__item {
  margin-top: 40px;
}

.contact__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  min-width: 337px;
  color: var(--pressed-state);
}

.contact__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83;
  letter-spacing: 0.02em;
  min-width: 192px;
  color: var(--dark);
}

.social-block {
  margin: 48px 0 0;
}
.social-block__link {
  width: 40px;
  height: 40px;
}
.social-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 24px;
  margin: 8px 0 0 0;
}
.social-block__icons {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--white);
  background-color: var(--primary-brand);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-block__link :hover, .social-block__link :focus {
  fill: var(--white);
  background-color: var(--accent-color);
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .social-block__link :hover, .social-block__link :focus {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 222px 0;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .modal {
    padding: 96px 0;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 96px 0;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    padding: 80px 0;
  }
}
.modal__btn:focus, .modal__btn:hover {
  fill: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
@media screen and (max-width: 1199px) {
  .modal__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin: 0 auto 16px;
  }
}
.modal__field {
  position: relative;
  margin-bottom: 10px;
}
.modal__label {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--subtle-text);
}
@media screen and (max-width: 767px) {
  .modal__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
}
.modal__input {
  width: 100%;
  height: 40px;
  border: var(--input-border);
  border-radius: 4px;
  padding: 0 12px 0 42px;
  outline: none;
}
.modal__input:focus {
  border-color: var(--primary-brand);
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal__input:focus + .modal__icon {
  fill: var(--primary-brand);
}
.modal__textarea {
  margin-bottom: 16px;
}
.modal__field-textarea {
  width: 100%;
  height: 120px;
  border: var(--input-border);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
}
.modal__field-textarea:focus {
  border-color: var(--primary-brand);
}
.modal__field-textarea::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__field-textarea::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__field-textarea:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__field-textarea::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__field-textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__checkbox {
  margin: 0 0 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.modal__checkbox-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--label-checkbox);
  padding-left: 24px;
  position: relative;
  cursor: pointer;
}
.modal__checkbox-icon {
  display: block;
  border: 2px solid var(--dark);
  fill: transparent;
  border-radius: 2px;
  margin: -17px;
}
.modal__checkbox-input:checked + .modal__checkbox-icon {
  fill: var(--white);
  background-color: var(--primary-brand);
  border-color: var(--primary-brand);
}
.modal__checkbox-link {
  color: var(--primary-brand);
  text-decoration: underline;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* outline: 3px solid tomato; */
}
@media screen and (max-width: 767px) {
  .nav-menu__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 24px;
  }
}
.nav-menu__item .nav-menu__link + .nav-menu__link {
  margin-left: 8px;
  /* outline: 3px solid tomato; */
}
@media screen and (max-width: 767px) {
  .nav-menu__item .nav-menu__link + .nav-menu__link {
    margin: 0;
  }
}
.nav-menu__btn {
  margin: 0 0 16px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border: 1px solid var(--pressed-state);
  border-radius: 4px;
  /* outline: 2px solid tomato; */
  color: var(--pressed-state);
  background-color: var(--light);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 6px 22px;
}
@media screen and (max-width: 767px) {
  .nav-menu__btn {
    margin: 0;
  }
}
.nav-menu__btn:hover, .nav-menu__btn:focus {
  background-color: var(--pressed-state);
  color: var(--white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--pressed-state);
  /* outline: 3px solid tomato; */
}

.portfolio-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .portfolio-card__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-card__item {
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-card__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1158px;
    margin: 0 auto;
  }
}
.portfolio-card__list {
  border: 1px solid var(--light);
  background-color: var(--white);
  /* outline: 3px solid tomato; */
  -ms-flex-preferred-size: calc((100% - 60px) / 9);
      flex-basis: calc((100% - 60px) / 9);
  max-width: 370px;
}
@media screen and (max-width: 767px) {
  .portfolio-card__list {
    min-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-card__list {
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-card__list {
    min-width: 370px;
  }
}
.portfolio-card__list:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /* outline: 2px solid tomato; */
  color: var(--dark);
  margin: 0;
  max-width: 322px;
}
.portfolio-card__subsection {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  /* outline: 2px solid tomato; */
  color: var(--text);
  margin: 0;
}
.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white);
  background-color: var(--pressed-state);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
}
.portfolio-card__list:hover .portfolio-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-card__name {
  padding: 20px 24px;
}

.social__link {
  width: 40px;
  height: 40px;
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin: 8px 0 0 0;
}
.social__icons {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--white);
  background-color: var(--primary-brand);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link :hover, .social__link :focus {
  fill: var(--white);
  background-color: var(--accent-color);
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .social__link :hover, .social__link :focus {
    display: none;
  }
}

.teem {
  background-color: var(--light);
}
@media screen and (max-width: 767px) {
  .teem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.teem__title {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  letter-spacing: 0.02em;
  /* outline: 2px solid tomato; */
  color: var(--dark);
  margin: 0;
}
@media screen and (min-width: 768px) {
  .teem__title {
    margin-bottom: 8px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .teem__title {
    margin-top: 0;
    margin-bottom: 72px;
  }
}
.teem__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* outline: 3px solid tomato; */
}
@media screen and (max-width: 767px) {
  .teem__page {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .teem__page {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .teem__page {
    width: 264px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .teem__img {
    width: 264px;
    min-height: 260px;
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .teem__img {
    width: 264px;
    min-height: 260px;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .teem__img {
    min-width: 264px;
    min-height: 260px;
    display: block;
  }
}
.teem__item {
  background-color: var(--white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* outline: 3px solid tomato; */
}
@media screen and (max-width: 767px) {
  .teem__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .teem__item {
    -ms-flex-preferred-size: 22.222%;
        flex-basis: 22.222%;
    width: 100%;
    margin: 64px 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .teem__item {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .teem .teem__item:nth-child(n+1) {
    margin-top: 72px;
    margin-bottom: 0;
  }
}
.teem__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  /* outline: 2px solid tomato; */
  color: var(--dark);
  margin: 0 0 8px;
}
.teem__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  /* outline: 2px solid tomato; */
  color: var(--text);
  margin: 0;
}
.teem__profil {
  padding: 32px 0;
}

@media screen and (max-width: 1199px) {
  .visual {
    display: none;
  }
}
.visual__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin: 0 0 72px;
}
.visual__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1158px;
}
.visual__img .visual__card + .visual__card {
  margin-left: 30px;
}
.visual__card {
  position: relative;
}

.footer {
  background-color: var(--dark);
  padding: 96px 0;
  /* outline: 3px solid tomato; */
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 96px 0;
  }
}

/*Layout*/
.footer__container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* outline: 3px solid tomato; */
}
@media screen and (max-width: 427px) {
  .footer__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
}
@media screen and (min-width: 428px) {
  .footer__container {
    width: 428px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    width: 1158px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__container .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    gap: 120px;
  }
}
.footer__container .block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__container .block__logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--white);
}
.footer__container .block .logo {
  color: var(--primary-brand);
}
.footer__container .block__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent);
  width: 268px;
  text-align: start;
  margin: 16px 0 0;
}
@media screen and (min-width: 768px) {
  .footer__container .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container .address {
    text-align: start;
    margin-right: 70px;
    margin-left: 0;
  }
}
.footer__container .address__logo {
  font-weight: 700;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* outline: 2px solid tomato; */
  color: var(--white-color);
  margin: 0 0 20px;
  display: inline-block;
}
.footer__container .logo {
  color: var(--accent-color);
}
.footer__container .adrs {
  font-style: normal;
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* outline: 2px solid tomato; */
  color: var(--white-color);
  display: inline-block;
  min-width: 231px;
}
.footer__container .mail,
.footer__container .tel {
  font-style: normal;
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* outline: 2px solid tomato; */
  color: var(--footer-text-color);
  display: inline-block;
  min-width: 231px;
}
.footer__container .adrs {
  margin: 0 0 9px;
}
.footer__container .mail {
  margin: 0 0 9px;
}
.footer__container .tel {
  margin: 0;
}
.footer__container .feature {
  margin: 12px 78px 0 70px;
  /* outline: 2px solid tomato; */
}
@media screen and (max-width: 767px) {
  .footer__container .feature {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 72px 0 56px 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__container .feature {
    width: 100%;
    text-align: start;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container .feature {
    text-align: start;
    margin-right: 80px;
  }
}
.footer__container .feature__card {
  margin: 0 0 20px;
}
.footer__container .feature__text {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 16px;
}
.footer__container .feature__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .footer__container .feature__container {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container .feature__container {
    width: 100%;
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container .feature__container {
    text-align: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer__container .feature__link {
  width: 40px;
  height: 40px;
}
.footer__container .feature__item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: var(--white);
  background-color: var(--footer-icon);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__container .feature__link :hover, .footer__container .feature__link :focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}
.footer__container .form-footer {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .footer__container .form-footer {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__container .form-footer {
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 119px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container .form-footer {
    text-align: start;
    margin: 12px 0 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer__container .form-footer__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: 0 0 16px;
}
.footer__container .form-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
@media screen and (max-width: 767px) {
  .footer__container .form-footer__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container .form-footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container .form-footer__link {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.footer__container .form-footer__input {
  height: 40px;
  background-color: var(--background-hero-footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (max-width: 767px) {
  .footer__container .form-footer__input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer__container .form-footer__input {
    min-width: 264px;
  }
}
.footer__container .form-footer__btn {
  height: 40px;
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  fill: var(--white);
}

.modal__container {
  background-color: var(--white);
  position: relative;
}
@media screen and (max-width: 767px) {
  .modal__container {
    width: 392px;
    height: 586px;
    padding: 72px 16px 24px;
  }
}
@media screen and (min-width: 768px) {
  .modal__container {
    width: 408px;
    height: 586px;
    padding: 72px 24px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__container {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px;
  }
}

@media screen and (max-width: 427px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.hero__section {
  background-color: var(--background-hero-footer-color);
  /* outline: 2px solid tomato; */
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-background)), to(var(--hero-background))), url(../img/people-office.jpg);
  background-image: linear-gradient(to right, var(--hero-background), var(--hero-background)), url(../img/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .hero__section {
    padding: 112px 0;
  }
}
@media screen and (min-width: 768px) {
  .hero__section {
    padding: 112px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero__section {
    padding: 188px 0;
  }
}

.visual_section {
  padding: 0 0 120px;
}
@media screen and (max-width: 1199px) {
  .visual_section {
    display: none;
  }
}

.section {
  padding: 94px 0;
}
@media screen and (max-width: 1199px) {
  .section {
    padding: 96px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

.portfolio__section {
  padding: 94px 0;
  background-color: var(--white-color);
  /* outline: 3px solid tomato; */
}
@media screen and (max-width: 767px) {
  .portfolio__section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__section {
    padding: 94px 0;
  }
}/*# sourceMappingURL=main.css.map */