:root {
    --primary-brand: #4D5AE5;
    --pressed-state: rgba(64, 75, 191, 1);
    --dark: #2E2F42;
    --success:#31D0AA;
    --text:  #434455;
    --subtle-text:  #8E8F99;
    --accent:  #E7E9FC;
    --light:  #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: rgba(46, 47, 66, 0.7);
    --btn-shadow: rgba(0, 0, 0, 0.15);
    --white: #ffffff;
    --footer-icon:rgba(255, 255, 255, 0.1);
    --input-border: 1px solid rgba(33, 33, 33, 0.2);
    --label-checkbox: #757575;
}