:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --background-primary-color: #F5F4FA;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --background-hero-footer-color: #2F303A;
    --background-btn-hero: rgba(0, 0, 0, 0.15);
    --background-subsection-portfolio: #EEEEEE;
    --background-portfolio: #F5F5F5;
    --background-icon-footer: rgba(255, 255, 255, 0.1);
    --border-client: #AFB1B8;
    --fill-client: #AFB1B8;
    --background-hero: rgba(47, 48, 58, 0.4);
    --background-item-card: rgba(47, 48, 58, 0.8);
    --background-card: rgba(33, 150, 243, 0.9);
    --backgroun-form-input-border: rgba(33, 33, 33, 0.2);
}