.hero__section {
    background-color: var(--background-hero-footer-color);
    /* outline: 2px solid tomato; */
    background-image: linear-gradient(to right,
            var(--hero-background),
            var(--hero-background)),
        url(../img/people-office.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
    @media screen and(max-width: 767px) {
        padding: 112px 0;
    }

    @media screen and(min-width: 768px) {
        padding: 112px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 188px 0;
    }
}

.visual_section {
    padding: 0 0 120px;
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.section {
    padding: 94px 0 ;

    @media screen and (max-width: 1199px) {
        padding: 96px 0;
    }
    @media screen and (min-width: 1200px) {
        padding: 120px 0;
    }
}


.portfolio__section {
    padding: 94px 0;
    background-color: var(--white-color);
    /* outline: 3px solid tomato; */
    @media screen and(max-width: 767px) {
        padding: 60px 0;
    }
    @media screen and(min-width: 768px) {
        padding: 60px 0;
    }
    @media screen and(min-width: 1200px) {
        padding: 94px 0;
    }
}