.header__container {
    width: 1200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media screen and (max-width: 767px) {
        width: 480px;
        height: 60px;
        
}
    @media screen and (min-width: 768px) {
        width: 768px;
        height: 60px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        height: 80px;
    }

}

.hero__container {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;


    @media screen and (max-width: 767px) {
        max-width: 480px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
    
}

.about__container {
    padding: 94px 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    
    @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 768px) {
        padding: 0 15px;
        width: 100%;
    }
    @media screen and (min-width: 1200px){
        width: 100%;
        padding: 0 15px;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
}
}

.visual__container {
    padding: 0 0 94px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    .visual__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        /* outline: 2px solid tomato; */
        color: var(--primary-text-color);
        margin-top: 0;
        margin-bottom: 50px;
    }
    
    .img-item {
        display: block;
        position: relative;
        
    }
}

.teem__container {
    width: 1200px;
    padding: 94px 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 3px solid tomato; */

    @media screen and (max-width: 767px) {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    
    @media screen and (min-width: 768px) {
    padding: 0 15px;
    width: 100%;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }

}

.client__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 2px solid tomato; */
    @media screen and(max-width: 767px) {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }
    @media screen and(min-width: 768px) {
        width: 768px;
    }
    @media screen and(min-width: 1200px) {
        width: 1200px;
    }
}

.footer__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    display: flex;
    /* outline: 3px solid tomato; */
    @media screen and(max-width: 767px) {
        width: 100%;
        display: flex;
        flex-direction: column ;
        text-align: center;
        padding: 0 15px;
    }
    
    @media screen and(min-width: 768px) {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    @media screen and(min-width: 1200px) {
        max-width: 100%;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;

    }

    .block {
        @media screen and(min-width: 768px) {
                
                display: flex;
                gap: 165px;
                margin: 0;
                justify-content: space-around;
            }
        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 0;
            
        }    
    }

    .address {
        @media screen and(min-width: 768px) {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-left: 76px;   
        }

        @media screen and(min-width: 1200px) {
            text-align: start;
            margin-right: 70px;
            margin-left: 0;
        }
    }
                .address__logo {
                    font-weight: 700;
                    font-family: 'Raleway';
                    font-size: 26px;
                    line-height: 1.19;
                    letter-spacing: 0.03em;
                    /* outline: 2px solid tomato; */
                    color: var(--white-color);
                    margin: 0 0 20px;
                    display: inline-block;
                }
        
                .logo {
                    color: var(--accent-color);
                }
        
                .adrs {
                    font-style: normal;
                    font-weight: inherit;
                    font-size: 14px;
                    line-height: 1.71;
                    letter-spacing: 0.03em;
                    /* outline: 2px solid tomato; */
                    color: var(--white-color);
                    display: inline-block;
                    min-width: 231px;
                }
        
                .mail,
                .tel {
                    font-style: normal;
                    font-weight: inherit;
                    font-size: 14px;
                    line-height: 1.71;
                    letter-spacing: 0.03em;
                    /* outline: 2px solid tomato; */
                    color: var(--footer-text-color);
                    display: inline-block;
                    min-width: 231px;
                }
        
                .adrs {
                    margin: 0 0 9px;
                }
        
                .mail {
                    margin: 0 0 9px;
                }
        
                .tel {
                    margin: 0;
                }
        
                .feature {
                    @media screen and (max-width: 767px) {
                        width: 100%;
                        
                        text-align: center;
                        justify-content: center;
                        margin: 60px 0;
                    }
        
                    @media screen and(min-width: 768px) {
                        width: 100%;
                        text-align: center;
                        margin: 12px 89px 0 0;
        
                    }
        
                    @media screen and(min-width: 1200px) {
                        text-align: start;
                        margin-right: 93px;
                    }
        
                    margin: 12px 78px 0 70px;
        
                    /* outline: 2px solid tomato; */
                    &__card {
                        margin: 0 0 20px;
                    }
        
                    &__text {
                        color: var(--white-color);
                        font-weight: 700;
                        line-height: 1.42;
                        letter-spacing: 0.03em;
                        margin: 0 0 20px;
                    }
        
                    &__container {
                        display: flex;
                        align-items: center;
                        gap: 10px;
        
                        @media screen and(max-width: 767px) {
                            width: 100%;
                            margin: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                        }
        
                        @media screen and(min-width: 768px) {
                            width: 100%;
                            margin: 0;
                            justify-content: center;
                        }
        
                        @media screen and(min-width: 1200px) {
                            text-align: start;
                            justify-content: flex-start;
                        }
                    }
        
                    &__link {
                        width: 44px;
                        height: 44px;
                    }
        
                    &__item {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        fill: var(--white-color);
                        background-color: var(--background-icon-footer);
        
                        transition-duration: 250ms;
                        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    }
        
        
                    &__link :hover,
                    &__link :focus {
                        background-color: var(--accent-color);
                        border-radius: 50%;
                    }
                }
        
                .form-footer {
                    margin: 12px 0 0 0;
        
                    @media screen and(max-width: 767px) {
                        margin: 0;
                        
                    }
        
                    @media screen and(min-width: 768px) {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        margin: 60px 0 0 0;
                    }
        
                    @media screen and(min-width: 1200px) {
                        text-align: start;
                        margin: 12px 0 0 0;
                        justify-content: flex-start;
                    }
        
                    &__label {
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 1.14;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
        
                        color: var(--white-color);
        
                        @media screen and(min-width: 768px) {
                            margin-bottom: 20px;
                        }
                    }
        
        
                    &__input {
                        width: 358px;
                        height: 50px;
        
                        background-color: var(--background-hero-footer-color);
                        border: 1px solid rgba(255, 255, 255, 0.3);
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                        border-radius: 4px;
        
                        padding: 15px 16px;
                        color: rgba(255, 255, 255, 0.6);
                        font-size: 16px;
                        line-height: 1.25;
        
                        @media screen and (min-width: 480px) and (min-width: 768px) {
                            min-width: 450px;
                        }
        
                        @media screen and (min-width: 1200px) {
                            min-width: 358px;
                        }
                    }
        
                    &__link {
                        display: flex;
                        gap: 12px;
        
                        margin: 20px 0 0 0;
        
                        @media screen and(max-width: 767px) {
                            flex-direction: column;
                            width: 100%;
                            align-items: center;
                            justify-content: center;
                        }
        
                        @media screen and(min-width: 768px) {
                            display: flex;
                            gap: 12px;
                            margin: 0;
                            flex-wrap: wrap;
                            width: 50%;
                            justify-content: center;
                            margin-left: auto;
                            margin-right: auto;
                        }
        
                        @media screen and(min-width: 1200px) {
                            flex-wrap: nowrap;
                        }
                    }
        
                    &__btn {
                        height: 50px;
                        width: 200px;
        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
        
                        fill: var(--white-color);
                    }
                }

    }




.portfolio__container {
    padding: 94px 0;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 3px solid tomato; */
    @media screen and (max-width: 767px) {
    width: 100%;
    }
    
    @media screen and (min-width:768px){
        width: 100%;
    }
    @media screen and (min-width: 1200px) {
        width: 100%;
    }

    .img-portfolio {
        display: block;
        @media screen and (max-width: 767px) {
            min-width: 100%;
        }

        @media screen and (min-width:768px) {
            min-width: 100%;
        }
    }
}

.modal__container {
    background-color: var(--white-color);
    position: relative;
    width: 100%;

    max-width: 528px;
    max-height: 581px;

    padding: 40px;

    @media screen and (max-width: 1199px) {
        min-width: 450px;
        min-height: 609px;
    }

    @media screen and (min-width: 1200px){
        max-width: 528px;
        max-height: 581px;
    }

}

.mobile-menu__container {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    padding: 48px 40px;
    margin-left:auto ;
    margin-right: auto;
    height: 796px;
    
}