.about {
    
    &__item {
        @media screen and (max-width: 767px) {
            flex-basis: 480px;
            margin: 0 0 72px;
        }

        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 48px)/2);
            margin-bottom: 72px;
        }

        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
    }

    &__info {
        display: flex;
        @media screen and (max-width: 767px) {
                display: block;
                margin-bottom: 0px;
            }
        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            gap: 30px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
        }
    }

    &__info .about__item+.about__item {
        margin-left: 30px;
        @media screen and (max-width: 767px) {
                margin-left: 0;
            }
        @media screen and (min-width: 768px) {
            margin: 0;
        }
    }

    &__icon {
        
        height: 120px;
        background-color: var(--ligt);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 30px;

        @media screen and (max-width: 767px) {
            display: none;            
            }

        @media screen and (min-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 1200px) {
            height: 120px;
            background-color: var(--light);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 30px;
            width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: 0.02em;
        /* outline: 2px solid tomato; */
        color: var(--dark);
        margin: 0 0 8px;

        @media screen and (max-width: 767px){
            text-align: center; 
        }
        
    }

    &__subsection {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text);
        margin: 0;
        @media screen and(max-width: 767px) {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
        }
}

    &__item:last-child{
        margin-bottom: 0;
    }

}