    .auth-nav {
        @media screen and (max-width: 767px) {
                display: none;
            }
        
        &__item {
            display: block;
            align-items: center;
        }

        
        &__list {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.04em;
        }
        
        &__link {
            color: var(--text);
        }
    
        
    }
