    .auth-nav {
        @media screen and (max-width: 767px) {
                display: none;
            }

        
        &__nav {
            display: flex;
            @media screen and (max-width: 1199px) {
                    display: block;
                }
        }

        &__link {
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            /* outline: 2px solid tomato; */
            color: var(--title-text-color);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            @media screen and (min-width: 768px) {
                font-size: 12px;
                line-height: 1.17;
            }

            @media screen and(min-width: 1200px) {
                font-size: 14px;
                line-height: 1.14;
            }
        }

        &__link:hover,
        &__link:focus {
            color: var(--accent-color);
            fill: var(--accent-color);
        }

        &__nav .auth-nav__item+.auth-nav__item {
            margin-left: 50px;
            @media screen and (max-width: 1199px) {
                margin: 0;
            }
        }

        &__icon {
            margin: 0 10px 0 0;
            display: inline-block;
        }
    }

.icon-mail {
    @media screen and(min-width: 768px) {
        min-width: 14px;
        min-height: 10px;
    }
}

.icon-tel {
    @media screen and(min-width: 768px) {
        min-width: 14px;
        min-height: 10px;
    }
}