.hero {
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;


    &__title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        /* outline: 2px solid tomato; */
        color: var(--white);
        @media screen and (max-width: 767px) {
            min-width: 318px;
            text-align: center;
            font-size: 36px;
            line-height: 1.11;
            margin: 0 0 72px;
        }

        @media screen and (min-width: 768px) {
            min-width: 494px;
            margin: 0 0 40px;
        }

        @media screen and(min-width: 1200px) {
            min-width: 494px;
            margin: 0 0 48px;
        }
    }
}
