    .menu {
        display: flex;
        align-content: center;

        @media screen and (max-width: 767px) {
            // gap: 249px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
        }

        @media screen and(min-width: 768px) {
            display: flex;
            align-items: center;
        }

        @media screen and (min-width: 1200px) {
            
        }
        

        &__nav {
            display: flex;
            align-items: center;
        }
        
        &__link {
            /* outline: 2px solid tomato; */
            color: var(--dark);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }


        &__site-nav {
            display: flex;
            align-items: center;

        }

        &__site-nav .menu__item+.menu__item {
            margin-left: 40px;
        }

        &__item {
            @media screen and (max-width: 767px) {
                    display: none;
                }
            @media screen and (min-width: 768px) {
                margin: 0;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
            }
        }

        &__link:hover,
        &__link:focus {
            color: var(--primary-brand);
        }

        .current.menu__link {
            position: relative;
            padding: 32px 0;
            @media screen and(min-width: 768px) {
                padding: 26px 0;
            }
            @media screen and(min-width:  1200px) {
                padding: 32px 0;
            }
        }

        .current.menu__link::after {
            content: '';

            width: 100%;
            height: 4px;
            border-radius: 2px;

            position: absolute;
            bottom: 0;
            left: 0;

            background-color: var(--primary-brand);
            opacity: 1;
        }
}
