.visual {
    @media screen and (max-width: 1199px) {
            display: none;
        }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        
        color: var(--dark);
        
        margin: 0 0 72px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    &__img .visual__card+.visual__card {
        margin-left: 30px;

    }


    &__card {
        position: relative;
    }

    
}