.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.interval {
    margin: 35px 0 32px 0;
}

.border {
    border: 1px solid var(--background-primary-color);
    background-color: var(--white-color);
    
}